body{
    margin: 0;
    box-sizing: border-box;
    background-color: #931a0d;


    /* background-image: url(../img/fond-écran.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

*{
    color: white;
}

.score{
    font-size: 4rem;
}

.choice{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    border: 2px dashed white;
    border-radius: 5px;
}

/*-----------------
      Header
-----------------*/
.logo{
    width: 20rem;
    height: auto;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
.sheldon{
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
}

/*--------------------
        Main
--------------------*/

/*----User----*/
.persoUser{
    width: 13rem;
    height: auto;
    margin-left: 20px;
}

/* .bord{
    border: 2px solid black;
} */
#userName{
    margin-left: 20px;
}
/*-----Bazinga-----*/

#bazinga{
    width: 30rem;
    height: auto;
}

/*----CPU----*/

.persoCpu{
    width: 11.3rem;
    height: auto;
}

/*----img games----*/

.image{
    cursor: pointer;
    border-radius: 100%;
}

.gif{
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 3rem;
    height: auto;
}

/*----Modal----*/

#cookiesModal {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 12px #555;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#closeModal:hover {
    cursor: pointer;
    color: #000;
}

#cookiesModal h3{
    color: black;
    text-align: center;
}