body{
    margin: 0;
    box-sizing: border-box;
    background-color: #931a0d;


    /* background-image: url(../img/fond-écran.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}

*{
    color: white;
}

.score{
    font-size: 4.5rem;
}

.choice{
    padding-top: 30px;
    padding-bottom: 1rem;
   /* font-size: 50px; */
    text-align: center;
    border: 4px dashed black;
    border-radius: 20px;
    height: 12.5rem;
    width: auto;
}

/*-----------------
      Header
-----------------*/
.logo{
    width: 20rem;
    height: auto;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
.sheldon{
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
}

/*--------------------
        Main
--------------------*/

/*----User----*/
.persoUser{
    width: 13rem;
    height: auto;
    margin-left: 20px;
}

/* .bord{
    border: 2px solid black;
} */
#userName{
    margin-left: 20px;
}
/*-----Bazinga-----*/

#bazinga{
    width: 30rem;
    height: auto;
}

/*----CPU----*/

.persoCpu{
    width: 11.3rem;
    height: auto;
}

/*----img games----*/

.image{
    cursor: pointer;
    border-radius: 100%;
}

.gif{
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 3rem;
    height: auto;
}

/*----Modal----*/

#cookiesModal {
    display: none;
    background-color: #fff;
    box-shadow: 0 1px 12px #555;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#closeModal:hover {
    cursor: pointer;
    color: #000;
}

#cookiesModal h3{
    color: black;
    text-align: center;
}
.shifumi{
    text-align: center;
    width: 100%;
}

/*----Modal Loose----*/
#modalLose {
    display: block;
    background-color: #fff;
    box-shadow: 5px 5px 30px black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* backdrop-filter: blur( 20px ); */

}
#modalLose h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
}
#modalLose p{
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-align: center;
}
.loseSheldon{
    justify-content: center;
    width: 80%;
}
#modalLose .btn{
    font-weight: bold;
    font-size: 1.7rem;
    border: 2px solid #931a0d;
}

/*----Modal Win----*/
#modalWin {
    display: none;
    background-color: #fff;
    box-shadow: 5px 5px 30px black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* backdrop-filter: blur( 20px ); */

}
#modalWin h3{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: center;
}
#modalWin p{
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    text-align: center;
}
.winSheldon{
    justify-content: center;
    width: 80%;
}
#modalWin .btn{
    font-weight: bold;
    font-size: 1.7rem;
    border: 2px solid #931a0d;
}

/* Page accueil */

#sheldonVideo{
    background-color: #931a0d;
    border: 1px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 10px black;
    padding-bottom: 10px;
}

#sheldonVideo h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

#persoTbbt h3{
    font-weight: bold;
    text-transform: uppercase;
}
#choicePerso img{
    width: 70%;
}
#choicePerso{
    display: flex;
    justify-content: center;
}
#pseudo{
    font-size: 1.8rem;
    font-weight: bold;
}
#pseudoInput {
    color: black;
}
#start{
    font-size: 1.2rem;
    font-weight: bold;
}
.persoUser{
    cursor: pointer;
}